
.customchangeColors{
    border: 1px solid rgb(189, 184, 184);
    display: none;
}


.customchangeColors:focus{
    background-color: var(--ui-shape-primary-4);
    border: 1px solid red;

    .customInput{
        display: block;
    }

    .mokhassas{
        display: none;
    }
}

.changeColors{
    border: 1px solid rgb(189, 184, 184);
}

.changeColors:focus{
    background-color: var(--ui-shape-primary-4);
    border: 1px solid red;
}

#lowCount{
    display: none;
}
